---
const { t } = Astro.props;
---

<section class='containeer' data-aos='fade-up'>
  <div
    class='w-full h-[564px] bg-custom_gray mt-40 rounded-72 border-x-6 border-custom_gray12 backdrop-blur-125 flex flex-row-reverse items-center justify-between max-md:h-auto max-md:flex-col max-sm:rounded-35 max-md:border-x-3'
  >
    <div class='relative flex justify-end items-end max-md:w-full'>
      <img
        src="../assets/images/create.svg"
        alt='Create'
        class='w-[422px] h-[621px] mt-5 max-sm:w-[295px] max-sm:h-[432px] max-md:mt-[-140px] max-sm:mt-[-90px] relative top-[-35px]'
        width={422}
        height={621}
        loading={"lazy"}
      />
      <img
        src="../assets/images/create1.svg"
        alt='Create1'
        width={280}
        height={142}
        loading={"lazy"}
        class='absolute bottom-[26%] left-[-28%] max-md:left-[25%] max-md:bottom-[35%] max-sm:w-[173px] max-xs:left-[20px]'
      />
    </div>
    <div
      class='w-[70%] pl-20 flex flex-col gap-8 max-md:w-full max-md:py-8 max-md:px-6 max-md:gap-4 max-md:mt-[-40px] max-lg:gap-4'
    >
      <h2
        class='text-56 font-semibold font-sfpro leading-67 text-white max-md:text-2xl max-lg:text-4xl'
      >
        {t.Create.title}
      </h2>
      <div class='flex gap-3 w-[80%] max-md:w-full'>
        <div>
          <div
            class='w-[6px] h-[6px] rounded-full bg-white relative top-[12px]'
          >
          </div>
        </div>
        <h4
          class='font-normal text-white text-2xl font-sfpro max-md:text-15 max-md:leading-5'
        >
          {t.Create.text}
        </h4>
      </div>
      <div class='flex gap-3 w-[80%]'>
        <div>
          <div
            class='w-[6px] h-[6px] rounded-full bg-white relative top-[12px]'
          >
          </div>
        </div>
        <h4
          class='font-normal text-white text-2xl font-sfpro max-md:text-15 max-md:leading-5'
        >
          {t.Create.text1}
        </h4>
      </div>
    </div>
  </div>
</section>
